<footer class="footer mt-auto py-3 bg-light">

    <span class="text-muted">CST336 Internet Programming. 2023© NeoWeb
    Disclaimer: This webpage is used for academic purposes only.</span>
    <img style="height: 50px; width: 50px;" src="/img/csumb.jpg" alt="CSUMB logo">

</footer>
<script src="/js/api.js"></script>
<script src="/js/script.js"></script>
</body>
</html>