</body>
<footer class="footer mt-auto py-3 bg-light"s >

    <span class="text-muted">CST336 Internet Programming. 2023© NeoWeb
    Disclaimer: This webpage is used for academic purposes only.</span>
    <img style="height: 50px; width: 50px;" src="/img/csumb.jpg" alt="CSUMB logo">

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="/js/api.js"></script>
<script src="/js/script.js"></script>

</html>